.form-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .input-group {
    width: 381px;
    flex: 1;
    padding: 14px 20px;
    border: 1px solid orange;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    input[type="text"],
    [type="number"] {
      font-family: "Lucida Console", "Courier New", monospace;
      font-weight: bold;
      letter-spacing: 1px;
      font-size: 15px;
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      outline: none;
    }
    input[type="submit"] {
      font-family: "Lucida Console", "Courier New", monospace;
      font-weight: bold;
      border: none;
      color: #607d86;
      padding: 10px 26px;
      text-align: center;
      text-decoration: none;
      font-size: 15px;
      margin: 4px 2px;
      cursor: pointer;

      &:hover {
        color: orange;
      }
    }
  }
}
